body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin-top: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
width: 50%;
}

.mission-item{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    border-radius: 15px;
     box-shadow: 10px 10px 30px grey;


.mission-img{
     width: 100%;
     
}
    